.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: aliceblue;
}

.cardContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: calc(100% - 20px);
}

.button{
  cursor: pointer;
  background-color: darkgrey;
}
